.header {
  display: flex;
  width: 100%;
  min-height: 74px;
  background-color: #fff;
  justify-content: center;
  align-items: center;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 140px)
}

.header__nav-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.header__nav-list_movies {
  gap: 4px;
  padding-left: 50px;
}

.header__nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 76px;
  height: 32px;
  background-color: #2be080;
  border-radius: 3px;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-decoration: none;
  color: #000;
}

.header__nav-link_movies {
  background-color: transparent;
  font-size: 13px;
  line-height: 18px;
}

.header__account-link {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100px;
  height: 32px;
  border-radius: 40px;
  box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.08);
  background-color: #fff;
  color: #000;
  text-decoration: none;
}

.header__account-logo {
  width: 26px;
  height: 26px;
  border-radius: 50px;
  background-color: #f9f9f9;
  background-image: url(../../images/account_icon.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.header__account-span {
  padding-left: 5px;
  font-size: 13px;
  font-weight: 500;
  line-height: 12px;
}

@media screen and (max-width: 1023px) {
  .header__container {
    width: calc(100% - 60px);
  }
}

@media screen and (max-width: 767px) {
  .header__container {
    width: calc(100% - 28px);
  }

  .header__nav-list {
    gap: 14px;
  }

  .header__nav-link {
    font-size: 10px;
    line-height: 16px;
    min-width: 54px;
    height: 26px;
  }
}