.form {
  display: flex;
  flex-direction: column;
  min-height: 483px;
  justify-content: space-between;
}

.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
  display: flex;
  flex-direction: column;
}

.form__submit-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 70px;
}

.form__submit-question {
  margin: 16px 0 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #a0a0a0;
  text-align: center;
}

.form__submit-link {
  text-decoration: none;
  color: #3456f3;
  margin-left: 6px;
}

@media screen and (max-width: 1023px) {
  .form {
    min-height: 645px;
  }

  .form__submit-container {
    padding-bottom: 232px;
  }
}

@media screen and (max-width: 767px) {
  .form {
    min-height: 527px;
  }

  .form__submit-container {
    padding-bottom: 30px;
  }

  .form__submit-question {
    margin-top: 14px;
    font-size: 12px;
    line-height: 15px;
  }
}