.not-found {
  width: 100%;
  align-items: center;
  padding-top: 246px;
}

.not-found__title {
  font-size: 140px;
  font-weight: 400;
  line-height: 169px;
  margin: 0;
}

.not-found__subtitle {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  margin: 5px 0 184px;
}

.not-found__link {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #3456f3;
  text-decoration: none;
}

@media screen and (max-width: 1023px) {
  .not-found {
    padding-top: 408px;
  }
}

@media screen and (max-width: 767px) {
  .not-found {
    padding-top: 329px;
  }

  .not-found__title {
    font-size: 80px;
    line-height: 97px;
  }

  .not-found__subtitle {
    font-size: 12px;
    line-height: 15px;
    margin: 10px 0 284px;
  }

  .not-found__link {
    font-size: 12px;
    line-height: 15px;
  }
}