.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.section {
  width: calc(100% - 140px);
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1023px) {
  .section {
    width: calc(100% - 100px);
  }
}

@media screen and (max-width: 727px) {
  .section {
    width: calc(100% - 36px);
  }
}