.header {
  display: flex;
  width: 100%;
  min-height: 74px;
  background-color: #fff;
  justify-content: center;
  align-items: center;
}

.header_page_landing {
  background-color: #073042;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 140px)
}

.header__nav-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
  padding-left: 50px;
  margin: 0;
}

.header__nav-list_page_landing {
  gap: 30px;
  padding: 0;
}

.header__nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 76px;
  height: 32px;
  background-color: transparent;
  border-radius: 3px;
  font-size: 13px;
  font-weight: 500;
  line-height: 18px;
  text-decoration: none;
  color: #000;
}

.header__nav-link_signup {
  font-size: 12px;
  line-height: 16px;
  color: #fff;
}

.header__nav-link_signin {
  font-size: 12px;
  line-height: 16px;
  background-color: #2be080;
}

.header__btn-burger {
  display: none;
  background-image: url(../../images/burger_open_black.svg);
  background-color: transparent;
  width: 44px;
  height: 44px;
  border: none;
  padding: 0;
  line-height: 0;
}

.header__btn-burger_page_landing {
  background-image: url(../../images/burger_open_white.svg);
}

@media screen and (max-width: 1023px) {
  .header__container {
    width: calc(100% - 60px);
  }
}

@media screen and (max-width: 800px) {
  .header__btn-burger {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .header__container {
    width: calc(100% - 28px);
  }

  .header__nav-list_page_landing {
    gap: 14px;
  }

  .header__nav-link {
    font-size: 10px;
    line-height: 16px;
    min-width: 54px;
    height: 26px;
  }
}