.greeting {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 70px 0 40px;
}

.greeting__title {
  margin: 0;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
}

@media screen and (max-width: 1023px) {
  .greeting {
    padding: 232px 0 40px;
  }
}

@media screen and (max-width: 767px) {
  .greeting {
    padding: 56px 0 80px;
    align-items: center;
    gap: 50px;
  }
}