.student__profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 66px;
}

.student__profile-info {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 600px;
}

.student__profile-name {
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -0.04em;
  margin: 0;
}

.student__profile-about {
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  margin: 18px 0 26px;
}

.student__profile-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  margin: 0;
}

.student__profile-link {
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  text-decoration: none;
  color: #000;
  margin: 0;
}

.student__profile-img {
  width: 270px;
  height: 327px;
  border-radius: 10px;
  object-fit: cover;
}

@media screen and (max-width: 1023px) {
  .student__profile-info {
    max-width: 364px;
  }

  .student__profile-name {
    font-size: 40px;
    line-height: 40px;
  }

  .student__profile-about {
    font-size: 12px;
    line-height: 18px;
    margin: 16px 0 20px;
  }

  .student__profile-text {
    font-size: 12px;
    line-height: 18px;
  }

  .student__profile-img {
    width: 255px;
    height: 307px;
  }
}

@media screen and (max-width: 767px) {
  .student {
    width: calc(100% - 28px);
  }

  .student__profile {
    flex-direction: column-reverse;
    align-items: center;
    gap: 40px;
    margin-top: 60px;
  }

  .student__profile-img {
    width: 292px;
    height: 352px;
  }

  .student__profile-info {
    width: 100%;
  }

  .student__profile-name {
    font-size: 30px;
    line-height: 36px;
  }

  .student__profile-about {
    margin: 20px 0 20px;
    font-size: 11px;
    line-height: 16px;
  }

  .student__profile-text {
    margin-bottom: 57px;
    font-size: 11px;
    line-height: 16px;
  }
}